<template lang="pug">
  div
    users
</template>

<style lang="scss">

</style>

<script>
import users from "@/components/users";

export default {
  name: "components",
  data() {
    return {
      d: 0
    };
  },
  components: {
    users
  }
};
</script>