<template>
    <div>
        <div id="test-6" class="test">
            <div class="epoch"></div>
            <div id="output-hashrate"></div>
        </div>

    </div>


</template>

<script>
import * as epoch from "@/lib/epoch";

export default {
  name: "hashrate",
  data() {
    return {
      d: 0
    };
  },
  mounted() {
    $(function() {
      var data = [
          {
            label: "A",
            values: [
              {
                time: parseInt(new Date().getTime() / 1000),
                x: 500
              }
            ]
          }
        ],
        length = 650,
        nextIndex = length,
        playing = false,
        interval = null;

      var chart = $("#test-6 .epoch").epoch({
        type: "time.area",
        data: data,
        axes: ["right", "bottom"]
      });

      var pushPoint = function() {
        var x = 498 + Math.random() * 15,
          time = new Date().getTime() / 1000;
        $("#output-hashrate").html(x.toFixed(2));
        chart.push([
          {
            time: time,
            y: x
          }
        ]);
      };

      $(document).ready(function() {
        interval = setInterval(pushPoint, 1000);
        pushPoint();
      });
    });
  }
};
</script>

<style lang="scss">
@import "../assets/test.css";
@import "../assets/epoch.min.css";

#test-6 path,
.area {
  fill: #009ee0 !important;
}
// .epoch {
//   float: right !important;
// }
canvas {
  float: right;
}
</style>
