<template lang="pug">
  div
    .balances
      .ltc
      .btc
    .profile
      .avatar
      
</template>

<script>
export default {
  name: "landing",

  mounted() {
    if (!this.$cookie.get("lang")) {
      this.lang = this.$cookie.set("lang", "en");
    } else {
      this.lang = this.$cookie.get("lang");
    }
  },
  data() {
    return {
      dict: {
        ru: {
          hello: "Привет"
        },
        es: {
          hello: "Hola"
        },
        en: {
          hello: "Hello"
        }
      },
      lang: "en"
    };
  }
};
</script>

<style scoped>

</style>
