<template lang="pug">
div
  nav.navbar.navbar-expand-lg.navbar-dark
    .container
      a.navbar-brand(href='#')
        img.logo-header(src="../assets/logo-white.svg")
        | CryptoUniverse
        
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor01', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarColor01.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='#')
              | {{ dict[lang].home }} 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') {{ dict[lang].features }} 
          li.nav-item
            a.nav-link(href='#') {{ dict[lang].pricing }} 
          li.nav-item
            a.nav-link(href='#') {{ dict[lang].about2 }} 
        div.form-inline.langs

          i.fas.fa-angle-double-down(v-show="!dd" @click="ddLangShow")
          i.fas.fa-angle-double-up(v-show="dd" @click="ddLangHide")
          div.dd-list-langs(v-show="dd")
            span.flag-icon.flag-icon-us(@click='switchLang("en")')
            span.flag-icon.flag-icon-ru(@click='switchLang("ru")')
            span.flag-icon.flag-icon-es(@click='switchLang("es")')
          span#current-lang.flag-icon(v-bind:class="{ 'flag-icon-us': isEng, 'flag-icon-ru': isRu, 'flag-icon-es': isEs}")

        div.form-inline
          a.call-phone 8 (800) 555 35-35 
          a#login.btn.btn-outline-light.my-2.my-sm-0(href="/#/login") {{ dict[lang].login }}
          

  video#myVideo(autoplay='', muted='', loop='')
    source(src='../assets/miners.mp4', type='video/mp4')
    |   Your browser does not support HTML5 video.
  .cover
  section#main
    .main-header
      .h1 {{ dict[lang].header }}
      .h2 {{ dict[lang].about }}
      button.btn.btn-success.bg-cugreen.btn-lg(@click="openSign") {{ dict[lang].book }}

  #registerModal.card(v-show="openform")
    .card-body
      .card-header
        h5#registerModalLabel.modal-title {{ dict[lang].signup }}
      .card-body
        form
          .form-group
            label.form-control-label(for='recipient-name') {{ dict[lang].email }}
            input#recipient-name.form-control(type='email')
          .form-group
            label.form-control-label(for='message-text') {{ dict[lang].message }}
            textarea#message-text.form-control
      .card-footer
        button.btn.btn-secondary(type='button', @click="closeSign") {{ dict[lang].close }}
        button.btn.btn-primary.float-right(type='button') {{ dict[lang].send }}

</template>

<script>
export default {
  name: "landing",

  data() {
    return {
      dd: false,
      dict: {
        ru: {
          login: "Войти",
          header: "Maйнинг Отель",
          about: "Размещение майнеров в майнинг отеле",
          book: "Забронировать место",
          signup: "Бронь",
          email: "Email",
          message: "Комментарий",
          close: "Закрыть",
          send: "Отправить",
          home: "Главная",
          features: "Преимущества",
          pricing: "Цены",
          about2: "Об отеле"
        },
        es: {
          login: "Ingresar",
          header: "Meyning Hotel",
          about: "Alojamiento de mineros en un hotel minero",
          book: "Reserve un lugar",
          signup: "Register",
          email: "Email",
          message: "Message",
          close: "Close",
          send: "Send message",
          home: "Home",
          features: "Features",
          pricing: "Pricing",
          about2: "About"
        },
        en: {
          login: "Sign in",
          header: "Mining hotel",
          about: "A heaven for miners",
          book: "Book a place",
          signup: "Register",
          email: "Email",
          message: "Message",
          close: "Close",
          send: "Send message",
          home: "Home",
          features: "Features",
          pricing: "Pricing",
          about2: "About"
        }
      },
      lang: "en",
      openform: false
    };
  },
  computed: {
    isEng: function() {
      return this.lang == "en";
    },
    isRu: function() {
      return this.lang == "ru";
    },
    isEs: function() {
      return this.lang == "es";
    }
  },
  methods: {
    ddLangShow: function() {
      this.dd = true;
    },
    ddLangHide: function() {
      this.dd = false;
    },
    switchLang(lang) {
      this.lang = lang;
    },
    closeSign() {
      this.openform = false;
    },
    openSign() {
      this.openform = true;
    }
  }
};
</script>

<style scoped>
#registerModal {
  z-index: 50000;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -250px;
}
.langs {
  float: right;
  position: relative;
}

.langs i {
  margin: 10px;
  color: white;
}
.langs span {
  margin: 10px;
}
.navbar {
  padding: 0;
  position: absolute;
  z-index: 900;
  width: 100%;
}
.navbar-brand {
  height: 60px;
  text-transform: uppercase;
  font-style: italic;
}
.logo-header {
  max-height: 100%;
}
.call-phone {
  color: white !important;
  margin-right: 30px;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}
#main {
  display: flex;
  height: 100vh;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
.main-header {
  margin-top: 50%;
}
.main-header .h1 {
  color: white;
  font-size: 7vw;
  font-weight: 800;
}
.main-header .h2 {
  color: white;
  font-size: 2.5vw;
  font-weight: 800;
  margin-bottom: 40px;
}
#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.cover {
  position: fixed;
  bottom: 0;
  background: url("../assets/img/bg.png");
  opacity: 0.7;
  color: #f1f1f1;
  width: 100%;
  height: 100%;
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

html,
section#main {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.main-header {
  z-index: 901;
  max-width: 100%;
  padding: 15px;
  margin: 0 auto;
}
.main-header .checkbox {
  font-weight: 400;
}
.main-header .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.main-header .form-control:focus {
  z-index: 2;
}
.main-header input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.main-header input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>
