<template lang="pug">
    div
      nav.navbar.navbar-expand-lg.navbar-dark.btn-cu-bg
        .container
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href='#')
                | Miners 
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='#') Pools
            li.nav-item
              a.nav-link(href='#') Payments
            li.nav-item
              a.nav-link(href='/') Log Out
      .row
          .col-md-4.miners-bage {{miners.count}} Майнеров
          .col-md-4.miners-bage {{miners.hashrate}} Хешрейт
          .col-md-4.miners-bage {{miners.maxTemp}} Максимальная темпаратура
      hashrate
</template>

<style lang="scss">
.navbar {
  height: 60px;
}
.navbar .container {
  float: right;
}
</style>

<script>
import hashrate from "@/components/hashrate";

export default {
  name: "miners",
  data() {
    return {
      miners: {
        count: 6,
        hashrate: 1000,
        maxTemp: 66
      }
    };
  },
  components: {
    hashrate
  }
};
</script>