<template lang="pug">
  .login
    form
      input(name="login" type="text" v-model="loginForm.login")
      input(name="pass" type="password" v-model="loginForm.password")
      button войти
</template>

<script>
export default {
  name: "login",
  data() {
    return {
      loginForm: {}
    };
  }
};
</script>

<style scoped>

</style>
