<template lang="pug">
    div
      form.form-new-user(v-on:submit.prevent="addUser")
        .form-group
          label Email Пользователя
          input.form-control(name="form.email")
        .form-group(v-for="(ip, index) in form.miners")
          label Присвоить майнер
          input.form-control(v-model="form.miners[index].ip" placeholder="Локальный Ip")
          input.form-control(v-model="form.miners[index].type")
        .form-group.button.btn.btn-primary.btn-add-miner.w-100(@click="addIpInput" type="button") Добавить
        .form-group.button.btn.btn-primary.btn-add-user.w-100(type="submit") Создать пользователя
</template>

<style lang="scss">
.form-new-user {
  width: 500px;
  max-width: 100%;
}
.btn-add-miner,
.btn-add-user {
  margin: 20px;
}
</style>

<script>
export default {
  name: "users",
  data() {
    return {
      form: {
        email: "",
        miners: [
          {
            ip: "",
            type: "L3+"
          }
        ]
      }
    };
  },
  methods: {
    addIpInput: function() {
      this.form.miners.push({
        ip: "",
        type: "L3+"
      });
    },
    addUser: function() {
      console.log(this.form);
    }
  }
};
</script>