<template lang="pug">
  router-view
</template>

<script>
export default {
  name: "App"
};
</script>

<style lang="scss">
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.btn-cu-bg {
  background: #009ee0;
  border: none;
}
.bg-cugreen {
  background: #29c969;
}
</style>
